---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await getCollection('blog');
const sortedPosts = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout title="Noah Costello's Blog">
  <h1>Noah Costello</h1>
  <p class="intro">
    Hi, I'm Noah 👋
    <br><br>
    I'm a software engineer. I have a passion for riding bikes, alternative forms of transit (trains, bikes, walking), and technology.
    I want to use this site to learn how to improve my writing and to show the interesting
    things that I'm working on. Potential writing topics will include: tech, bikes, transit, or anything else that I find interesting.
  </p>

  {sortedPosts.map(post => (
    <article>
      <h2><a href={`${Astro.site?.pathname}${post.slug}`}>{post.data.title}</a></h2>
      <time>{post.data.date.toISOString().split('T')[0]}</time>
      <p class="description">{post.data.description}</p>
    </article>
  ))}
</BaseLayout>
